.App {
  text-align: center;
}

.link {
  height: 50px;
}

.AboutUsContainer{
  position: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 200px;
  padding-top: 40px;
  padding-bottom: 200px;

}

.about_link {
  font-size: 17px;
}

.left {
  position: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 900px;

}

.right {
  position: flex;
  margin-left: 40vw;
  margin-right: 100px;
  margin-top: -120px;


}

.about_desc {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}

.about_header_img {
  height: 100px;
  width: auto;
}

.about_header_text {
  margin-top: 20px;
  font-size: 22px;

}


.noAbout_link {
  display: none;
}
.aboutus-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 25px;
}

.nolink {
  display: none;
}

.Sol_intro_pic {
  width: 100%;
  height: 50%;
  margin-top: -20px;
  padding-top: -100px;
  opacity: 0.65;
}

.Team_text {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  text-decoration-style: solid;
  font-size: 80px;
  z-index: +1;
}
.Overview_picturetwo {
  position: relative;
  padding-top: 40px;
}

.intro_text {
  position: absolute;
  top: 17%;
  width: 100%;
  text-align: center;
  text-decoration-style: solid;
  font-size: 80px;
  z-index: +1;
}

.overview_desc {
  display: flex;
  align-items: flex-start;
  padding-left: 27vw;
  color: black;
  padding-top: 10px;
  margin-bottom: -60px;
}

.alignment_two{
  background-color: #e3e8cf;
  padding-top: 30px;
}

.desc-text {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 25px;
}

.alignment_three {
  background-color: #fbffed;
}

.overiew_elab {
  position: relative;
  margin-left: 50%;
  margin-right: 20%;
  top: -250px;
  color: black;

}

.overview_image {
  display: block;
  margin-left: 25vw;
  margin-top: 1px;
  border: 10px solid #555;
  border-radius: 8%;
  height: 400px;
  width: auto;
}

.overview_imagetwo  {
  display: block;
  margin-left: 52vw;
  border: 10px solid #555;
  border-radius: 8%;
  height: 400px;
  width: auto;

}

.overview_desctwo {
  display: flex;
  align-items: flex-start;
  padding-left: 65vw;
  color: black;
  padding-top: 10px;
  margin-bottom: -80px;
}

.overiew_elabtwo {
  position: relative;
  margin-left: 18%;
  margin-right: 55%;
  top: -200px;
  color: black;
}

.wastelessexperience {
  padding-top: 30px;
}

.goal_elab {
  color: grey;
  padding-right: 45px;
  padding-left: 45px;
}

.goal_class {
  color: black;
  padding-top: 10px;
}

.Goalspicture {
  height: 70px;
  width: auto;

}
.home-pic {
  width: 100%;
  height: 50%;
  margin-top: -20px;
  padding-top: -100px;
  opacity: 0.65;
}

.home-title {
  position: absolute;
  top: 17%;
  width: 100%;
  text-align: center;
  text-decoration-style: solid;
  font-size: 80px;
  z-index: +1;
}

.home-text {
  position: absolute;
  top: 31%;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  font-weight: 550;
  font-size: 20px;
  text-decoration-style: solid;
  z-index: +1;

}
.flex-column{
  align-items: center;
}
.teamPicture{
  vertical-align: top;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.row{
  justify-content:center;
  align-items: center;
  display: flex;
  align-content: space-between;
  text-align: center;

}

.nav-logo{
  width: 120px;
  height: 100px;
  margin-left: -30px;
  margin-right: -40px;
  margin-top: -50px;
  margin-bottom: -45px;
  object-fit: cover;
}

.teamRows {
  position: static;
  margin:50px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 75px;
}
.AppteamRows {
  margin:0px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 75px;
}

.app_pics{
  height: 450px;
  border: 10px solid #555;
  border-radius: 8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.hardpic {
  margin-top: 10px;
  border: 5px solid #555;
  border-radius: 5%;
}
.app_desc{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;


}
#app {
  margin-top: -80px;
}
.app_name {
  margin-top: 15px;
}
.app_elab{
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 50px;


}
.Sol_team_rows {
  margin:50px;
  display: flex;
  position: relative;
  margin-top: 40px;
  justify-content: space-evenly;
  margin-bottom: 75px;
}

.Sol_pic {
  height: 50%;
}
.footer{
  margin-top: 30px;
  max-width: 100%;
  bottom: 0;
  width: 100%;
  /*background-color: #205c30;*/
  background-color: #F8F9FA;
  box-sizing: border-box;
  align-content: center;
}
.footerLinks{
  text-align: left;
}
.footerContents{
  margin-top: 30px;
  margin-bottom: auto;
  align-content: start;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: top;

}
.footerLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footerLinksContent{
  color:#7C7C7D ;
}
.copyrightLine{
  padding-bottom: 20px;
  margin-top: 10px;
}
.socialMediaIcons{
  margin-right: 10px;
  margin-top: 5px;
}
.App-logo {
height: 40vmin;
pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
animation: App-logo-spin infinite 20s linear;
}
}

.inProgress{
  position: absolute;
  background-color: white;
  align-items: center;
  justify-content: center;
  color: black;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 70px;
}

.progressIcons{
  color: white;
}
.comingsoontext{
  font-size: min(20vmin,150px);
/*min(max(16px, 4vw), 50px);*/
  margin-top: 30px;
  margin-bottom: 30px;
}
.inProgressContents{
  margin: 40px;
}
.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}

.topNavBar{
  margin-bottom: 20px;
  background-color: #205F26;
}


.nav-dropdown-menu-item:hover {
  background-color:#4A5D23;
  color:red;
}
.dropdown-menu {
  background-color: #8A9A5B;
  padding: 0px 0px;
}
@keyframes App-logo-spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}

.footerButton{
  align-items: center;
  align-content: center;
  vertical-align: top;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.contact-form {

  margin: 40px auto 40px auto;
  text-align: left;
  align-items: center;
  align-content: center;
  display: block;
  max-width: 420px;

}

#contactButton{
  text-align: center;
}

.formContents{

  margin-bottom: 25px;

}

.successButton{
  margin: 100px 0px 200px 0px;
  text-align: center;

}

.messageSentText{
  margin-top: 100px;
  /*font-size: 50px;*/
}
.Apppicture {
width: 33.3vw
}

.Hardwarepicture {
width: 50vw
}

.Hardwarepicturetwo {
width: 50vw
}

@media screen and (max-width: 1200px)  {
.home-text {
  display: none;
}
}

@media screen and (max-width: 1000px) {
  .Hardwarepicture {
  width: 100vw
  }

  .Hardwarepicturetwo {
  width: 100vw
  }
  .Apppicture {
  width: 100vw
  }

  .home-text {
    display: none;

  }
  .goal_elab {
    color: grey;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
  }

  div.lol {
      margin:20px;

  }

  .AppteamRows{
    display: flex;
    flex-direction: column;
  }


  .intro_text {
    position: relative;
    margin-top: -20%;
    font-size: 55px;
    margin-bottom: 15%;
  }

  .Sol_team_rows {
    position: static;
    margin:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 75px;
  }

  .home-title {
    position: relative;
    margin-top: -30%;
    font-size: 55px;
    margin-bottom: 20%;
  }
  .Goalspicture {
    height: 150px;
    width: auto;
}


.overiew_elab {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  top: 100px;
  color: black;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.3;

}

.overview_image {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.overview_desc {
  display: block;
  padding-left: 0px;
  text-align: center;
  top: 10px;
  color: black;
}

.overview_desctwo {
  display: block;
  padding-left: 0px;
  text-align: center;
  top: 10px;
  color: black;
}

.bridge-text {
  margin-top: -60px;
}

.alignment_two {
  height: 790px;
}

.alignment_three {
  height: 700px;
}

.overview_imagetwo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 230px;
    width: auto;
}

.overiew_elabtwo {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  top: 120px;
  color: black;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.3;

}



.AboutUsContainer{
  position: flex;
  align-items: center;
  flex-direction: column;
  height: 390px;

}

.about_link {
  font-size: 17px;
}

.left {
  position: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;

}

.right {
  position: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  }

.about_header_img {
    height: 80px;
    width: auto;
  }

  .about_header_text {
      font-size: 20px;
      width: auto;
    }



}
